n8n/workflow2.json
{
  "name": "Strategic Radar — Scheduled Weekly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Monday 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { company: 'Acrelec',         intelligence_type: 'Competitor Moves', time_range_days: 7 } },\n  { json: { company: 'Pyramid Computer', intelligence_type: 'Competitor Moves', time_range_days: 7 } },\n  { json: { company: 'Wanzl',            intelligence_type: 'Competitor Moves', time_range_days: 7 } },\n  { json: { company: 'Broadsign',        intelligence_type: 'Competitor Moves', time_range_days: 7 } },\n  { json: { company: 'Diebold Nixdorf',  intelligence_type: 'Competitor Moves', time_range_days: 7 } },\n  { json: { company: 'LamasaTech',       intelligence_type: 'Competitor Moves', time_range_days: 7 } }\n];"
      },
      "id": "competitor-list",
      "name": "Competitor List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RAILWAY_URL }}/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "company",           "value": "={{ $json.company }}" },
            { "name": "intelligence_type", "value": "={{ $json.intelligence_type }}" },
            { "name": "time_range_days",   "value": "={{ $json.time_range_days }}" }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-api",
      "name": "Call Strategic Radar API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemFields",
        "options": {}
      },
      "id": "collect-results",
      "name": "Collect All Briefs",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst date = new Date().toLocaleDateString('en-GB', { weekday:'long', year:'numeric', month:'long', day:'numeric' });\n\nlet allSignalsHtml = '';\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data.competitor) continue;\n  const signals = data.signals || [];\n\n  const formatSignals = (level) => {\n    const group = signals.filter(s => s.impact_level === level);\n    if (!group.length) return '';\n    let out = `<h4 style=\"color:${level==='High'?'#c0392b':level==='Medium'?'#d17a00':'#2d8a4e'};margin:8px 0 6px\">${level} Impact</h4>`;\n    group.forEach(s => {\n      out += `<div style=\"border-left:3px solid ${level==='High'?'#c0392b':level==='Medium'?'#d17a00':'#2d8a4e'};padding:8px 12px;margin-bottom:8px;background:#fafafa\">`;\n      out += `<strong style=\"font-size:13px\">${s.title || ''}</strong>`;\n      if (s.url) out += ` <a href=\"${s.url}\" style=\"color:#666;font-size:11px\">[source]</a>`;\n      out += `<br/><span style=\"color:#555;font-size:12px\">${s.impact_summary || ''}</span>`;\n      if (s.confidence) out += `<span style=\"float:right;color:#999;font-size:11px\">${s.confidence}/10</span>`;\n      out += '</div>';\n    });\n    return out;\n  };\n\n  let takeaway = data.executive_takeaway || '';\n  if (takeaway.includes('── EXECUTIVE TAKEAWAY')) {\n    takeaway = takeaway.split('── EXECUTIVE TAKEAWAY')[1].replace(/─+/g,'').trim();\n  }\n\n  allSignalsHtml += `\n    <div style=\"margin-bottom:40px;border:1px solid #e4e7f0;border-radius:6px;overflow:hidden\">\n      <div style=\"background:#0f1117;color:white;padding:14px 20px\">\n        <strong style=\"font-size:16px\">${data.competitor}</strong>\n        <span style=\"color:rgba(255,255,255,0.5);font-size:12px;margin-left:12px\">${data.intelligence_type} · ${signals.length} signals · ${data.llm_calls_made || 0}/7 LLM calls</span>\n      </div>\n      <div style=\"padding:16px 20px\">\n        ${formatSignals('High')}\n        ${formatSignals('Medium')}\n        ${formatSignals('Low')}\n        ${takeaway ? `<div style=\"background:#0f1117;color:white;padding:12px 16px;border-radius:4px;margin-top:12px\"><div style=\"font-size:10px;letter-spacing:0.1em;text-transform:uppercase;opacity:0.45;margin-bottom:4px\">Executive Takeaway</div><p style=\"margin:0;font-size:13px;line-height:1.6;opacity:0.9\">${takeaway}</p></div>` : ''}\n      </div>\n    </div>`;\n}\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"><style>\n  body { font-family: Georgia, serif; max-width: 700px; margin: 40px auto; color: #1a1a1a; }\n  h1 { font-size: 24px; border-bottom: 2px solid #1a1a1a; padding-bottom: 10px; }\n  .date { color: #666; font-size: 13px; margin-bottom: 32px; }\n</style></head>\n<body>\n  <h1>Strategic Radar — Weekly Intelligence Brief</h1>\n  <div class=\"date\">${date} · All Competitors · Competitor Moves</div>\n  ${allSignalsHtml}\n</body>\n</html>`;\n\nreturn [{ json: { html, subject: `Strategic Radar — Weekly Brief ${date}` } }];"
      },
      "id": "format-combined",
      "name": "Format Combined Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "fromEmail": "radar@yourdomain.com",
        "toEmail": "your-email@example.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "send-weekly-email",
      "name": "Send Weekly Email",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [1560, 300],
      "credentials": {
        "sendGridApi": {
          "id": "sendgrid-creds",
          "name": "SendGrid"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 8am": {
      "main": [[{ "node": "Competitor List", "type": "main", "index": 0 }]]
    },
    "Competitor List": {
      "main": [[{ "node": "One at a Time", "type": "main", "index": 0 }]]
    },
    "One at a Time": {
      "main": [[{ "node": "Call Strategic Radar API", "type": "main", "index": 0 }]]
    },
    "Call Strategic Radar API": {
      "main": [[{ "node": "One at a Time", "type": "main", "index": 0 }]]
    },
    "One at a Time": {
      "main": [
        [],
        [{ "node": "Collect All Briefs", "type": "main", "index": 0 }]
      ]
    },
    "Collect All Briefs": {
      "main": [[{ "node": "Format Combined Brief", "type": "main", "index": 0 }]]
    },
    "Format Combined Brief": {
      "main": [[{ "node": "Send Weekly Email", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}